---
http_interactions:
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/no-such-resource
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : {
            "error" : "Invalid Mio Object Type: no-such-resource"
          }
        }
  recorded_at: Fri, 29 Apr 2016 11:03:34 GMT
- request:
    method: put
    uri: https://master.dev.nativ-systems.com/api/resources/10943/configuration
    body:
      encoding: UTF-8
      string: '{"vfs-location":{"protocol":"S3","path":"/","key":"an-s3-key","secret":"an-s3-secret-key","bucket":"some-s3-bucket"}}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":102208,"instance":{"vfs-location":{"protocol":"S3","path":"/","key":"an-s3-key","secret":"an-s3-secret-key","bucket":"some-s3-bucket"}},"definitionId":103954,"definition":[{"id":103955,"name":"vfs-location","displayName":"VFS
        Location","description":"Details for a Virtual File System location","type":"vfs-location","multiplicity":"1","searchable":false,"editable":true,"required":false,"formType":"text","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":"tv.nativ.mio.metadata.resource.def.MioVFSLocationVariable$MioVFSLocationVariableHandler","valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[]},{"id":103978,"name":"file-details-check","displayName":"File
        Details Check","description":"Perform regular checks of file existence, size
        and last modification time.","type":"complex","multiplicity":"0..1","searchable":false,"editable":true,"required":false,"formType":null,"format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"children":[{"id":103979,"name":"checking-interval","displayName":"Checking
        Interval","description":"Minimum interval between file details checking.","type":"long","multiplicity":"1","searchable":false,"editable":true,"required":true,"formType":"text","format":"#","formatDescription":"#","validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":"duration","commentable":false,"isVisible":true,"preProcessors":[],"defaultValue":120000000}]}]}'
  recorded_at: Fri, 29 Apr 2016 11:03:34 GMT
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/resources/10943/actions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 29 Apr 2016 11:03:35 GMT
- request:
    method: post
    uri: https://master.dev.nativ-systems.com/api/no-such-resource
    body:
      encoding: UTF-8
      string: '{"name":"vcr resource storage","visibilityIds":[4],"pluginClass":"tv.nativ.mio.enterprise.resources.impl.capacity.storage.vfs.VFSStorageResource"}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : {
            "error" : "Unrecognized field \"visibilityIds\" (Class tv.nativ.mio.api.model.userdefinedobject.create.NewUserDefinedObject), not marked as ignorable\n at [Source: org.apache.catalina.connector.CoyoteInputStream@18553652; line: 1, column: 49] (through reference chain: tv.nativ.mio.api.model.userdefinedobject.create.NewUserDefinedObject[\"visibilityIds\"])"
          }
        }
  recorded_at: Fri, 29 Apr 2016 11:03:35 GMT
- request:
    method: put
    uri: https://master.dev.nativ-systems.com/api/no-such-resource/0/configuration
    body:
      encoding: UTF-8
      string: '{"vfs-location":{"protocol":"S3","path":"/","key":"an-s3-key","secret":"an-s3-secret-key","bucket":"some-s3-bucket"}}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>JBoss Web/7.4.8.Final-redhat-4 - JBWEB000064: Error
        report</title><style><!--H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>JBWEB000065:
        HTTP Status 404 - Could not find resource for relative : /no-such-resource/0/configuration
        of full path: https://master.dev.nativ-systems.com/api/no-such-resource/0/configuration</h1><HR
        size="1" noshade="noshade"><p><b>JBWEB000309: type</b> JBWEB000067: Status
        report</p><p><b>JBWEB000068: message</b> <u>Could not find resource for relative
        : /no-such-resource/0/configuration of full path: https://master.dev.nativ-systems.com/api/no-such-resource/0/configuration</u></p><p><b>JBWEB000069:
        description</b> <u>JBWEB000124: The requested resource is not available.</u></p><HR
        size="1" noshade="noshade"><h3>JBoss Web/7.4.8.Final-redhat-4</h3></body></html>'
  recorded_at: Fri, 29 Apr 2016 11:03:35 GMT
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/no-such-resource/0/actions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : {
            "error" : "Invalid Mio Object Type: no-such-resource"
          }
        }
  recorded_at: Fri, 29 Apr 2016 11:03:36 GMT
- request:
    method: post
    uri: https://master.dev.nativ-systems.com/api/resources
    body:
      encoding: UTF-8
      string: '{"name":"vcr resource storage","visibilityIds":[4],"pluginClass":"tv.nativ.mio.enterprise.resources.impl.capacity.storage.vfs.VFSStorageResource"}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - https://master.dev.nativ-systems.com/api/resources/11113
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":11113,"uuid":"fc4b0eea-c9f8-4103-8a47-5643ca94515e","name":"vcr
        resource storage","displayName":"vcr resource storage","objectType":{"id":15,"name":"resource","href":"https://master.dev.nativ-systems.com/api/objectTypes/15","displayName":"Resource","pluralName":"Resources","userDefined":false},"href":"https://master.dev.nativ-systems.com/api/resources/11113","enabled":false,"owner":"masteruser
        masteruser","accountId":4}'
  recorded_at: Fri, 29 Apr 2016 11:11:09 GMT
[...]
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/resources/11113/actions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"action":"delete"},{"action":"enable"}]'
  recorded_at: Fri, 29 Apr 2016 11:11:36 GMT
[...]
- request:
    method: post
    uri: https://master.dev.nativ-systems.com/api/actions
    body:
      encoding: UTF-8
      string: '{"name":"Groovy Script Factory","pluginClass":"tv.nativ.mio.plugins.actions.script.GroovyScriptCommand","visibilityIds":[4],"type":"script","runRuleExpression":""}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - https://master.dev.nativ-systems.com/api/actions/11114
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":11114,"uuid":"72808cbc-eb29-49a7-a869-a5b42cb282fa","name":"Groovy
        Script Factory","displayName":"Groovy Script Factory","objectType":{"id":18,"name":"action","href":"https://master.dev.nativ-systems.com/api/objectTypes/18","displayName":"Action","pluralName":"Actions","userDefined":false},"href":"https://master.dev.nativ-systems.com/api/actions/11114","enabled":false,"owner":"masteruser
        masteruser","accountId":4}'
  recorded_at: Fri, 29 Apr 2016 11:23:44 GMT
- request:
    method: put
    uri: https://master.dev.nativ-systems.com/api/actions/11114/configuration
    body:
      encoding: UTF-8
      string: '{"script-contents":{"script":"test script"},"imports":{"jar-url":[{"value":"file:///test/test/jar","isExpression":false},{"value":"file:///test/test/test.jar","isExpression":false}],"import":[{"value":"com.test.test.test","isExpression":false},{"value":"com.testing.testing.test","isExpression":false}]}}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":103302,"instance":{"script-contents":{"script":"test script"},"imports":{"jar-u[...]
- request:
    method: post
    uri: https://master.dev.nativ-systems.com/api/actions/11114/actions
    body:
      encoding: UTF-8
      string: '{"action":"enable"}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":11114,"uuid":"72808cbc-eb29-49a7-a869-a5b42cb282fa","name":"Groovy
        Script Factory","displayName":"Groovy Script Factory","objectType":{"id":18,"name":"action","href":"https://master.dev.nativ-systems.com/api/objectTypes/18","displayName":"Action","pluralName":"Actions","userDefined":false},"href":"https://master.dev.nativ-systems.com/api/actions/11114","owner":"masteruser
        masteruser","accountId":4}'
  recorded_at: Fri, 29 Apr 2016 11:23:45 GMT
[...]
- request:
    method: put
    uri: https://master.dev.nativ-systems.com/api/actions/11115/configuration
    body:
      encoding: UTF-8
      string: '{"script_type":{"script":"test script"},"imports":{"jar-url":[{"value":"file:///test/test/jar","isExpression":false},{"value":"file:///test/test/test.jar","isExpression":false}],"import":[{"value":"com.test.test.test","isExpression":false},{"value":"com.testing.testing.test","isExpression":false}]},"timeout":0,"polling-time-period":10}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":103310,"instance":{"script_type":{"script":"test script"},"imports":{"jar-url":[{"value":"file:///test/test/jar","isExpression":false},{"value":"file:///test/test/test.jar","isExpression":f[...]
[...]
- request:
    method: post
    uri: https://master.dev.nativ-systems.com/api/workflowDefinitions
    body:
      encoding: UTF-8
      string: '{"name":"Workflow","visibilityIds":[4]}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - https://master.dev.nativ-systems.com/api/workflowDefinitions/11118
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":11118,"uuid":"08f08d75-03d5-4b25-b212-da0ce39ff75e","name":"Workflow","displayName":"Workflow","objectType":{"id":11,"name":"workflow-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false},"href":"https://master.dev.nativ-systems.com/api/workflowDefinitions/11118","enabled":false,"owner":"masteruser
        masteruser","accountId":4}'
  recorded_at: Fri, 29 Apr 2016 11:27:17 GMT
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/actions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"actions":[{"id":11114,"uuid":"72808cbc-eb29-49a7-a869-a5b42cb282fa","name":"Groovy
        Script Factory","displayName":"Groovy Script Factory","objectType":{"id":18,"name":"action","href":"https://master.dev.nativ-systems.com/api/objectTypes/18","displayName":"Action","pluralName":"Actions","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/actions/11114","type":{"id":42,"name":"script","displayName":"Script","href":"https://master.dev.nativ-systems.com/api/actionTypes/42","category":"Workflow"},"pluginClass":"tv.nativ.mio.plugins.actions.script.GroovyScriptCommand","runRuleExpression":"","icons":{"small":"https://master.dev.nativ-systems.com:443/images/icons/small/script.png","normal":"https://master.dev.nativ-systems.com:443/images/icons/normal/script.png","medium":"https://master.dev.nativ-systems.com:443/images/icons/medium/script.png","large":"https://master.dev.nativ-systems.com:443/images/icons/giant/script.png"},"created":"29
        Apr 2016 11:23:04 +0000","lastModified":"29 Apr 2016 11:23:05 +0000","visibility":[{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4}],"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master.dev.nativ-systems.com/api/users/5","accountId":4},"account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4},"revision":"1-2249385d5c7676c70fce5009bf9c3c30352f88fa"},{"id":11115,"uuid":"8855172e-31c8-4f7b-96fc-39619f14dbd6","name":"A
        Test Groovy Wait Script","displayName":"A Test Groovy Wait Script","objectType":{"id":18,"name":"action","href":"https://master.dev.nativ-systems.com/api/objectTypes/18","displayName":"Action","pluralName":"Actions","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/actions/11115","type":{"id":42,"name":"script","displayName":[...]
- request:
    method: put
    uri: https://master.dev.nativ-systems.com/api/workflowDefinitions/11118/structure
    body:
      encoding: UTF-8
      string: '{"nodes":[{"id":456,"name":"End 1","path":"/e","layout":{"width":120,"height":45,"x":100,"y":100}},{"id":123,"name":"Start
        1","path":"/s","layout":{"width":120,"height":45,"x":320,"y":100}}],"transitions":[],"width":900,"height":1024}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<html><head><title>JBoss Web/7.4.8.Final-redhat-4 - JBWEB000064: Error
        report</title><style><!--H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>JBWEB000065:
        HTTP Status 500 - java.lang.NullPointerException</h1><HR size=\"1\" noshade=\"noshade\"><p><b>JBWEB000309:
        type</b> JBWEB000066: Exception report</p><p><b>JBWEB000068: message</b> <u>java.lang.NullPointerException</u></p><p><b>JBWEB000069:
        description</b> <u>JBWEB000145: The server encountered an internal error that
        prevented it from fulfilling this request.</u></p><p><b>JBWEB000070: exception</b>
        <pre>org.jboss.resteasy.spi.UnhandledException: java.lang.NullPointerException\n\torg.jboss.resteasy.core.SynchronousDispatcher.handleApplicationException(SynchronousDispatcher.java:365)\n\torg.jboss.resteasy.core.SynchronousDispatcher.handleException(SynchronousDispatcher.java:233)\n\torg.jboss.resteasy.core.SynchronousDispatcher.handleInvokerException(SynchronousDispatcher.java:209)\n\torg.jboss.resteasy.core.SynchronousDispatcher.getResponse(SynchronousDispatcher.java:557)\n\torg.jboss.resteasy.co[...]
- request:
    method: put
    uri: https://master.dev.nativ-systems.com/api/workflowDefinitions/11118/structure
    body:
      encoding: UTF-8
      string: '{"nodes":[{"name":"End 1","path":"/e","type":"END","layout":{"width":120,"height":45,"x":100,"y":100}},{"name":"Start
        1","path":"/s","type":"START","layout":{"width":120,"height":45,"x":320,"y":100}}],"transitions":[],"width":900,"height":1024}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"Workflow","version":1,"width":900,"height":1024,"nodes":[{"id":101844,"name":"End
        1","path":"/End 1","type":"END","layout":{"width":120,"height":45,"x":100,"y":100}},{"id":101845,"name":"Start
        1","path":"/Start 1","type":"START","layout":{"width":120,"height":45,"x":320,"y":100}}],"transitions":[],"image":"/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcG\r\nBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwM\r\nDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAEsASwDASIA\r\nAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA\r\nAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3\r\nODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm\r\np6ipqrKztLW2t7i5usL[...]
- request:
    method: put
    uri: https://master.dev.nativ-systems.com/api/workflowDefinitions/11118/structure
    body:
      encoding: UTF-8
      string: '{"nodes":[{"name":"End 1","path":"/e","type":"END","layout":{"width":120,"height":45,"x":100,"y":100}},{"name":"Start
        1","path":"/s","type":"START","layout":{"width":120,"height":45,"x":320,"y":100}}],"transitions":[{"name":null,"from":{"id":101845,"name":"Start
        1","path":"/Start 1"},"to":{"id":101844,"name":"End 1","path":"/End 1"}}],"width":900,"height":1024}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"Workflow","version":2,"width":900,"height":1024,"nodes":[{"id":101846,"name":"End
        1","path":"/End 1","type":"END","layout":{"width":120,"height":45,"x":100,"y":100}},{"id":101847,"name":"Start
        1","path":"/Start 1","type":"START","layout":{"width":120,"height":45,"x":320,"y":100}}],"transitions":[{"id":101414,"name":null,"description":null,"from":{"id":101847,"name":"Start
        1","path":"/Start 1"},"to":{"id":101846,"name":"End 1","path":"/End 1"},"layout":{"labelX":null,"labelY":null,"bendPoints":[]}}],"image":"/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcG\r\nBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwM\r\nDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAEsASwDASIA\r\nAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA\r\nAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3\r\nODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm\r\np6ipq[...]
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/workflowDefinitions/11118/actions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"action":"delete"},{"action":"enable"}]'
  recorded_at: Fri, 29 Apr 2016 11:47:58 GMT
[...]
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/workflows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"workflows":[{"id":10971,"name":"complete migration workflow test","displayName":"complete
        migration workflow test","objectType":{"id":7,"name":"workflow","href":"https://master.dev.nativ-systems.com/api/objectTypes/7","displayName":"Workflow","pluralName":"Workflows","userDefined":false},"deleted":false,"href":"https://master.dev.nativ-systems.com/api/workflows/10971","status":"Failed,
        Cancelled","priority":"Normal","running":false,"ended":false,"cancelled":true,"cancelling":false,"failed":true,"start":"13
        Apr 2016 13:07:27 +0000","end":"26 Apr 2016 13:57:19 +0000","owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master.dev.nativ-systems.com/api/users/5","accountId":4},"definition":{"id":11053,"uuid":"d6dc69b0-a672-4973-8e82-c6b485baf0fb","name":"complete
        migration workflow test","displayName":"complete migration workflow test","objectType":{"id":11,"name":"workflow-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false},"href":"https://master.dev.nativ-systems.com/api/workflowDefinitions/11053","enabled":false,"deleted":true,"owner":"masteruser
        masteruser","accountId":4},"definitionVersion":32,"created":"13 Apr 2016 13:07:27
        +0000","lastModified":"26 Apr 2016 13:57:19 +0000","account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4},"workspace":{"id":3,"name":"Master Account","objectType":{"id":30,"name":"account-workspace","href":"https://master.dev.nativ-systems.com/api/objectTypes/30","displayName":"Account
        Workspace","pluralName":"Account Workspaces","userDefined":false},"owner":"masteruser
        masteruser","accountId":4}},{"id":10925,"name":"Import Jizz","displayName":"Import
        Jizz","objectType":{"id":7,"name":"workflow","href":"https://master.dev.nativ-systems.com/api/objectTypes/7","displayName":"Workflow","plu[...]
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"resources":[{"id":11113,"uuid":"fc4b0eea-c9f8-4103-8a47-5643ca94515e","name":"vcr
        resource storage","displayName":"vcr resource storage","objectType":{"id":15,"name":"resource","href":"https://master.dev.nativ-systems.com/api/objectTypes/15","displayName":"Resource","pluralName":"Resources","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/resources/11113","resourceType":"Capacity","resourceSubType":"Storage","pluginClass":"tv.nativ.mio.enterprise.resources.impl.capacity.storage.vfs.VFSStorageResource","status":"Stopped","pollingInterval":0,"icons":{"small":"https://master.dev.nativ-systems.com:443/images/icons/small/resource-storage.png","normal":"https://master.dev.nativ-systems.com:443/images/icons/normal/resource-storage.png","medium":"https://master.dev.nativ-systems.com:443/images/icons/medium/resource-storage.png","large":"https://master.dev.nativ-systems.com:443/images/icons/giant/resource-storage.png"},"created":"29
        Apr 2016 11:10:28 +0000","lastModified":"29 Apr 2016 11:10:57 +0000","visibility":[{"id":4,"name":[...]
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/workflowDefinitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"workflowDefinitions":[{"id":11118,"uuid":"08f08d75-03d5-4b25-b212-da0ce39ff75e","name":"Workflow","displayName":"Workflow","objectType":{"id":11,"name":"workflow-definition","href":"https://master.dev.nativ-systems.com/api/objectTypes/11","displayName":"Workflow
        Definition","pluralName":"Workflow Definitions","userDefined":false},"enabled":true,"deleted":false,"href":"https://master.dev.nativ-systems.com/api/workflowDefinitions/11118","latestVersion":2,"created":"29
        Apr 2016 11:26:37 +0000","lastModified":"29 Apr 2016 11:47:18 +0000","visibility":[{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4}],"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master.dev.nativ-systems.com/api/users/5","accountId":4},"account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master.dev.nativ-systems.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false},"owner":"masteruser
        masteruser","accountId":4},"revision":"2-bdb10b7302259dd0a8f035ac3f95bce99013a31f"}],"totalCount":1,"offset":0,"limit":100}'
  recorded_at: Fri, 29 Apr 2016 11:50:00 GMT
- request:
    method: get
    uri: https://master.dev.nativ-systems.com/api/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
[...]
