---
http_interactions:
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/no-such-resource
    body:
      encoding: UTF-8
      string: '"application/json"'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : {
            "error" : "No object type found for plural name: no-such-resource"
          }
        }
  recorded_at: Thu, 29 Sep 2016 11:23:26 GMT
- request:
    method: post
    uri: https://master-flex-jemdev.ft.com/api/resources
    body:
      encoding: UTF-8
      string: '{"name":"vcr resource storage","visibilityIds":[4],"pluginClass":"tv.nativ.mio.enterprise.resources.impl.capacity.storage.vfs.VFSStorageResource"}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      location:
      - https://master-flex-jemdev.ft.com/api/resources/11110
    body:
      encoding: UTF-8
      string: '{"id":11110,"uuid":"b1c28791-e5a4-4b5b-a3e9-2111ade32719","name":"vcr
        resource storage","displayName":"vcr resource storage","objectType":{"id":15,"name":"resource","href":"https://master-flex-jemdev.ft.com/api/objectTypes/15","displayName":"Resource","pluralName":"Resources","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":true},"href":"https://master-flex-jemdev.ft.com/api/resources/11110","enabled":false,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"29 Sep 2016 11:23:05 +0000","lastModified":"29
        Sep 2016 11:23:05 +0000"}'
  recorded_at: Thu, 29 Sep 2016 11:23:27 GMT
[...]
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/no-such-resource/0/configuration
    body:
      encoding: UTF-8
      string: '{"vfs-location":{"protocol":"S3","path":"/","key":"an-s3-key","secret":"an-s3-secret-key","bucket":"some-s3-bucket"}}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '<html><head><title>JBoss Web/7.4.10.Final-redhat-1 - JBWEB000064: Error
        report</title><style><!--H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>JBWEB000065:
        HTTP Status 404 - Could not find resource for relative : /no-such-resource/0/configuration
        of full path: https://master-flex-jemdev.ft.com/api/no-such-resource/0/configuration</h1><HR
        size="1" noshade="noshade"><p><b>JBWEB000309: type</b> JBWEB000067: Status
        report</p><p><b>JBWEB000068: message</b> <u>Could not find resource for relative
        : /no-such-resource/0/configuration of full path: https://master-flex-jemdev.ft.com/api/no-such-resource/0/configuration</u></p><p><b>JBWEB000069:
        description</b> <u>JBWEB000124: The requested resource is not available.</u></p><HR
        size="1" noshade="noshade"><h3>JBoss Web/7.4.10.Final-redhat-1</h3></body></html>'
  recorded_at: Thu, 29 Sep 2016 11:23:29 GMT
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/no-such-resource/0/actions
    body:
      encoding: UTF-8
      string: '"application/json"'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<html><head><title>JBoss Web/7.4.10.Final-redhat-1 - JBWEB000064: Error
        report</title><style><!--H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>JBWEB000065:
        HTTP Status 500 - java.lang.NullPointerException</h1><HR size=\"1\" noshade=\"noshade\"><p><b>JBWEB000309:
        type</b> JBWEB000066: Exception report</p><p><b>JBWEB000068: message</b> <u>java.lang.NullPointerException</u></p><p><b>JBWEB000069:
        description</b> <u>JBWEB000145: The server encountered an internal error that
        prevented it from fulfilling this request.</u></p><p><b>JBWEB000070: exception</b>
        <pre>org.jboss.resteasy.spi.UnhandledException: java.lang.NullPointerException\n\torg.jboss.resteasy.core.SynchronousDispatcher.handleApplicationException(SynchronousDispatcher.java:365)\n\torg.jboss.resteasy.core.SynchronousDispatcher.handleException(SynchronousDispatcher.java:233)\n\torg.jboss.resteasy.core.SynchronousDispatcher.handleInvokerException(SynchronousDispatcher.java:209)\n\torg.jboss.resteasy.core.SynchronousDispatcher.getResponse(SynchronousDispatcher.java:557)\n\torg.jboss.resteasy.co[...]
- request:
    method: post
    uri: https://master-flex-jemdev.ft.com/api/accountProperties
    body:
      encoding: UTF-8
      string: '{"key":"account_property_key","value":"account_property_value"}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      location:
      - https://master-flex-jemdev.ft.com/api/accountProperties/101101
    body:
      encoding: UTF-8
      string: '{"href":"https://master-flex-jemdev.ft.com/api/accountProperties/101101"}'
  recorded_at: Thu, 29 Sep 2016 11:23:30 GMT
[...]
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/actions
    body:
      encoding: UTF-8
      string: '"application/json"'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"actions":[{"id":11009,"uuid":"76644799-34b6-4fc7-8849-d1143c732763","name":"xxxxx","displayName":"another-test","objectType":{"id":18,"name":"action","href":"https://master-flex-jemdev.ft.com/api/objectTypes/18","displayName":"Action","pluralName":"Actions","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":true},"description":"","externalIds":[],"enabled":false,"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/actions/11009","type":{"id":44,"name":"create-object","displayName":"Create
        Object","href":"https://master-flex-jemdev.ft.com/api/actionTypes/44","category":"Workflow"},"pluginClass":"tv.nativ.mio.enterprise.execution.action.file.process.impl.createobject.CreateVFSPlaceholderAsset","runRuleExpression":"","icons":{"small":"https://master-flex-jemdev.ft.com:443/images/icons/small/create-object.png","normal":"https://master-flex-jemdev.ft.com:443/images/icons/normal/create-object.png","medium":"https://master-flex-jemdev.ft.com:443/images/icons/medium/create-object.png","large":"https://master-flex-jemdev.ft.com:443/images/icons/giant/create-object.png"},"created":"28
        Sep 2016 15:57:46 +0000","lastModified":"29 Sep 2016 09:36:47 +0000","visibility":[{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"19
        Sep 2016 11:03:56 +0000"}],"owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-jemdev.ft.com/api/users/5","accountId":4},"account":{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"19
        Sep 2016 11:03:56 +0000"},"revision":"2-ea0af63a3fe957abc1c67fbf06addac2b68ff0e5"},{"id":10909,"uuid":"1d37665e-6d14-405b-94d2-4acda5ff8f65","name":"AAA-create-project-group-placeholder","displayName":"AAA-create-project-group-placeholder","objectType":{"id":18,"name":"action","href":"https://master-flex-jemdev.ft.com/api/objectTypes/18","displayName":"Action","pluralName":"Actions","userDefined":false,"attachmentsSupported":true,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupporte[...]
[...]
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/actions/11111/configuration
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":102332,"instance":{},"definitionId":103985,"definition":[{"id":103986,"name":"target-asset-id","displayName":"Target
        Asset ID","description":"ID of target file or group asset","type":"string","multiplicity":"0..1","searchable":false,"editable":true,"required":true,"formType":"text","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[]},{"id":103987,"name":"group-name","displayName":"Group
        Name","description":"Group Name","type":"string","multiplicity":"0..1","searchable":false,"editable":true,"required":true,"formType":"text","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[]},{"id":103988,"name":"reference-name-prefix","displayName":"Reference
        Name Prefix","description":"Reference Name Prefix for group members","type":"string","multiplicity":"0..1","searchable":false,"editable":true,"required":true,"formType":"text","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[]}]}'
  recorded_at: Thu, 29 Sep 2016 11:23:34 GMT
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/actions/11111/actions
    body:
      encoding: UTF-8
      string: '"application/json"'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"action":"delete","options":{}},{"action":"enable","options":{}},{"action":"destroy","options":{}}]'
  recorded_at: Thu, 29 Sep 2016 11:23:34 GMT
[...]
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/actions/11111/configuration
    body:
      encoding: UTF-8
      string: '{"target-asset-id":"test"}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":102332,"instance":{"target-asset-id":"test"},"definitionId":103985,"definition":[{"id":103986,"name":"target-asset-id","displayName":"Target
        Asset ID","description":"ID of targe[...]
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/actions/11111/configuration
    body:
      encoding: UTF-8
      string: '{"group-name":"test"}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":102332,"instance":{"group-name":"test"},"definitionId":103985,"definition":[{"id":103986,"name":"target-asset-id","displayName":"Target
        Asset ID","description":"ID of target fil[...]
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/actions/11111/configuration
    body:
      encoding: UTF-8
      string: '{"reference-name-prefix":"test"}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":102332,"instance":{"reference-name-prefix":"test"},"definitionId":103985,"definition":[{"id":103986,"name":"target-asset-id","displayName":"Target
        Asset ID","description":"ID of[...]
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/messageTemplates
    body:
      encoding: UTF-8
      string: '"application/json"'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"messageTemplates":[{"id":10142,"uuid":"7ca93648-cb78-4272-82f6-41d4294d8240","name":"xxx-template","displayName":"ingest-failed-template","objectType":{"id":31,"name":"message-template","href":"https://master-flex-jemdev.ft.com/api/objectTypes/31","displayName":"Message
        Template","userDefined":false,"attachmentsSupported":false,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"externalIds":[],"enabled":true,"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/messageTemplates/10142","subject":"Ingest
        Failed","priority":"Normal","created":"19 Sep 2016 11:23:59 +0000","lastModified":"20
        Sep 2016 10:53:00 +0000","visibility":[{"id":4,"name":"Master Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":tru[...]
[...]
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/actions/11114/configuration
    body:
      encoding: UTF-8
      string: '{"extract-metadata":false,"extract-frames":{"approve-frames":"true","set-master-frame":10,"set-frames-on-parent-asset":"true","fixed-number":10}}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":102339,"instance":{"extract-metadata":false,"extract-frames":{"approve-frames":true,"set-master-frame":10,"set-frames-on-parent-asset":true,"fixed-number":10}},"definitionId":104002,"definition":[{"id":104003,"name":"extract-metadata","displayName":"Extract
        Metadata","description":"Whether or not to extract metadata.","type":"boolean","searchable":false,"editable":true,"required":true,"formType":"select","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"options":[{"id":104004,"name":"Yes","displayName":"Yes","default":false,"value":"true"},{"id":104005,"name":"No","displayName":"No","default":true,"value":"false"}]},{"id":104006,"name":"extract-frames","displayName":"Extract
        Frames","description":"Whether or not to extract frames if the asset has a
        video stream.","type":"complex","multiplicity":"0..1","searchable":false,"editable":false,"required":false,"formType":null,"format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"children":[{"id":104007,"name":"approve-frames","displayName":"Approve
        Frames","description":"Set all extracted frames as approved automatically.","type":"boolean","searchable":false,"editable":true,"required":true,"formType":"select","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"options":[{"id":104008,"name":"Yes","displayName":"Yes","default":true,"value":"true"},{"id":104009,"name":"No","displayName":"No","default":false,"value":"false"}]},{"id":104010,"name":"set-master-frame","displayName":"Set
        Master Frame","description":"Approve and set the n-th extracted frame as master.
        If n is greater than the number of frames, the last frame will be used.","type":"integer","multiplicity":"0..1","searchable":false,"editable":true,"required":true,"formType":"text","format":"#","formatDescription":"#","validation":"value
        > 0","maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"defaultValue":1},{"id":104050,"name":"set-frames-on-parent-asset","displayName":"Set
        Frames On Parent Asset","description":"Set the extracted frames to the parent
        asset if it exists, otherwise set on the current asset.","type":"boolean","searchable":false,"editable":true,"required":false,"formType":"select","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString[...]
[...]
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/actions/11115/configuration
    body:
      encoding: UTF-8
      string: '{"script_type":{"script":"test script"},"imports":{"jar-url":[{"value":"file:///test/test/jar","isExpression":false},{"value":"file:///test/test/test.jar","isExpression":false}],"import":[{"value":"com.test.test.test","isExpression":false},{"value":"com.testing.testing.test","isExpression":false}]}}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":102354,"instance":{"script_type":{"script":"test script"},"imports":{"jar-url":[...]
[...]
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/metadataDefinitions
    body:
      encoding: UTF-8
      string: '"application/json"'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"metadataDefinitions":[{"id":10126,"uuid":"51f60e14-4f2a-4573-88ff-40964726e2a3","name":"publish-metadata-asset","displayName":"publish-metadata-asset","externalIds":[],"enabled":true,"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/metadataDefinitions/10126","created":"19
        Sep 2016 11:23:25 +0000","lastModified":"20 Sep 2016 10:52:34 +0000","owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-jemdev.ft.com/api/users/5","accountId":4},"visib[...]
[...]
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/actions/11119/configuration
    body:
      encoding: UTF-8
      string: '{"source-file":{"source":{"vfs-source-file-path":{"protocol":{"value":"S3","isExpression":false},"path":{"value":"${variables.assetS3Path}","isExpression":false},"key":{"value":"some_s3_key","isExpression":false},"secret":{"value":"some_s3_secret","isExpression":false},"bucket":{"value":"some_faked_s3_bucket","isExpression":false}}},"keep-source-filename":false},"asset-details":{"title":{"value":"${variables.assetTitle}","isExpression":false},"asset-origin":{"value":"INGEST","isExpression":false}},"variant-and-metadata-definition":{"variant":{"value":"project-variant","isExpression":false},"metadata":{"metadata-definition":{"id":10100},"source-json-variable":{"value":"testJsonVariable","isExpression":false}}},"asset-relationships":{"child":{"parent":{"parent-asset-id":{"value":"${variables.test}","isExpression":false}},"reference-name":{"value":"","isExpression":false}}}}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":102400,"instance":{"source-file":{"source":{"vfs-source-file-path":{"protocol":"S3","port":0,"path":"${variables.assetS3Path}","key":"some_s3_key","secret":"some_s3_secret","bucket":"some_faked_s3_bucket"}},"keep-source-filename":false},"asset-details":{"title":{"value":"${variables.assetTitle}","isExpression":false},"asset-origin":{"value":"INGEST","isExpression":false},"disable-extract-structure":false},"variant-and-metadata-definition":{"variant":{"value":"project-variant","isExpression":false},"metadata":{"metadata-definition":{"id":10100,"name":"project-metadata","type":"metadata-definition"},"source-json-variable":{"value":"testJsonVariable","isExpression":false}}},"asset-relationships":{"child":{"parent":{"parent-asset-id":{"value":"${variables.test}","isExpression":false}}}}},"definitionId":104162,"definition":[{"id":104163,"name":"source-file","displayName":"Source
        File","[...]
[...]
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/assets/13553
    body:
      encoding: UTF-8
      string: '"application/json"'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : {
            "error" : "Asset: 13553 not found."
          }
        }
  recorded_at: Thu, 29 Sep 2016 11:24:01 GMT
[...]
- request:
    method: post
    uri: https://master-flex-jemdev.ft.com/api/messageTemplates
    body:
      encoding: UTF-8
      string: '{"name":"create-project-email-template-100","visibilityIds":[4],"subject":"NEW
        PROJECT: #{asset.mioObject.name}","priority":"Normal"}'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      location:
      - https://master-flex-jemdev.ft.com/api/messageTemplates/11121
    body:
      encoding: UTF-8
      string: '{"id":11121,"uuid":"c4fc918c-dc3d-4fc9-b9fb-69ffba5e0f0b","name":"create-project-email-template-100","displayName":"create-project-email-template-100","objectType":{"id":31,"name":"message-template","href":"https://master-flex-jemdev.ft.com/api/objectTypes/31","displayName":"Message
        Template","userDefined":false,"attachmentsSupported":false,"commentsSupported":true,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"href":"https://master-flex-jemdev.ft.com/api/messageTemplates/11121","enabled":false,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"29 Sep 2016 11:23:41 +0000","lastModified":"29
        Sep 2016 11:23:41 +0000"}'
  recorded_at: Thu, 29 Sep 2016 11:24:03 GMT
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/messageTemplates/11121/body
    body:
      encoding: UTF-8
      string: "<p>Url: @[HTTPS_BASE_URL]/#mio=assets%2Casset%2Cindex.jsp%3Fid%3D#{asset.id}</p>
        <p>Project&nbsp;Owner: #{asset.owner.firstName}</p> <p>Project&nbsp;Created:
        #{asset.created}</p>"
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - text/html
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
    body:
      encoding: UTF-8
      string: "<p>Url: @[HTTPS_BASE_URL]/#mio=assets%2Casset%2Cindex.jsp%3Fid%3D#{asset.id}</p>
        <p>Project&nbsp;Owner: #{asset.owner.firstName}</p> <p>Project&nbsp;Created:
        #{asset.created}</p>"
  recorded_at: Thu, 29 Sep 2016 11:24:03 GMT
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/messageTemplates/11121/actions
    body:
      encoding: UTF-8
      string: '"application/json"'
    headers:
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"action":"delete","options":{}},{"action":"enable","options":{}},{"action":"destroy","options":{}}]'
  recorded_at: Thu, 29 Sep 2016 11:24:04 GMT
[...]
- request:
    method: put
    uri: https://master-flex-jemdev.ft.com/api/metadataDefinitions/11122/definition
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <metadata name="metadata-definition">
          <searchable>true</searchable>
          <editable>true</editable>
          <required>true</required>
          <children>
            <single-option name="section" display_name="Section">
              <searchable>true</searchable>
              <editable>true</editable>
              <required>true</required>
              <isVisible/>
              <description>ft site section</description>
              <validation handler=""/>
              <form-type>select</form-type>
              <children>
                <option-child name="test" default="false" value="http://api.ft.com/things/test" display_name="test"/>
              </children>
            </single-option>
            <text name="headline" display_name="Headline">
              <searchable>true</searchable>
              <editable>true</editable>
              <required>true</required>
              <isVisible/>
              <description>describe what the project is about</description>
              <max-length>100</max-length>
              <validation handler="tv.nativ.mio.metadata.variable.def.validation.MaxLengthValidationHandler"/>
              <form-type>textarea</form-type>
            </text>
            <url name="link-1" display_name="Link 1">
              <searchable>true</searchable>
              <editable>true</editable>
              <required>true</required>
              <isVisible/>
              <description>Link 1</description>
[...]
